$colBlack: #1a1a1a;
$colWhite: #f3f5f9;
$colPurple: #93256E;
$colGreen: #28a745;
$gutter: 2rem;

// Choices
$colPierre: #ac1a1b;
$colFabigeon: #f0f;
$colFabiosaure: #eebe39;
$colFeuille: #33a936;
$colCiseaux: #2e5eaa;
