@import 'reset';
@import 'vars';

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $colWhite;
  color: $colBlack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
